* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none; 
    user-drag: none; 

    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
    background-color: #000000;
    
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;

    overscroll-behavior-x: none;

    transition: color 0.75s linear, background-color 0.75s linear;
}

.container {
    position: fixed;
    top: 0%;
    left: 0%;

    width: 100vw;
    height: 100vh;

    display: grid;
    
    grid-template-columns: 5vw 5rem 5vw 1fr 5vw 5rem 5vw;
    grid-template-rows: 8vh 1rem 1fr 1rem 8vh;
}

.intro {
    grid-column: 4;
    grid-row: 3;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

}

.charContainer {
    text-overflow: clip;
    overflow: hidden;
}

.cliping {
    /* transform: translate3d(0, 100%, 0); */
    transition: all 0.5s ease-in-out;
}

/* .cliping.adding {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.cliping.remove {
    transform: translateY(0, -100%, 0);   
    transition: all 0.5s ease-in-out; 
} */

.intro h3 {
    font-weight: 100;
}

.lineContainer {
    overflow: hidden;
    text-overflow: clip;

    display: flexbox;
    align-self: center;
    flex-grow: 1;
    width: auto;
}

.line {
    border-bottom: solid 1px #ffffff;
    
    overflow: hidden;
    text-overflow: clip;

    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease-in-out;
}

.line.adding {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.line.remove {
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease-in-out;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.break.small {
    height: 1rem;
}

.intro .clickAndDrag {
    font-weight: 100;
    position: absolute;
    bottom: calc(8vh + 1rem);
    right: calc(5vw + 5rem);
}

#pointer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 100;

    pointer-events: none;
}

.content {
    position: relative;
    grid-column: 4;
    grid-row: 3;

    align-self: center;

    height: 40%;
    width: 100%;
    transition: height 1s cubic-bezier(.6,.07,.33,.87);
}

.strip-wrap {
    position: relative;
    grid-column: 3;
    grid-row: 3;

    overflow: hidden;

    display: block;
    align-self: center;

    height: 100%;
    width: 100%;

    transition: width 1s cubic-bezier(.6,.07,.33,.87);
}

.strip {
    height: 100%;

    border-left: solid 1px rgba(255, 255, 255, 0.3);

    animation: stripAnimation 0.75s ease-in-out 2s both;
}

.strip-wrap .imageContainer {
    /* margin: auto;
    height: 100%;
    width: 100%; */

    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 10rem - 20vw);
    height: 100%;


    background-color: #f2f2f2;

    align-self: center;

    transform: translate3d(-110%, 0, 0);
    transition: all 1s ease-in-out;
}

.strip-wrap .imageContainer.adding {
    transform: translate3d(0, 0, 0);
    transition: all 1s ease-in-out;
}

.strip-wrap .imageContainer.remove {
    transform: translate3d(100%, 0, 0);
    transition: all 1s ease-in-out;
}

.strip-wrap img {
    width: 100%;
    margin: auto;
    position: fixed;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;

    margin: auto;
}

@keyframes stripAnimation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.strip div {
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;

    border-left: solid 1px #f2f2f2;
}

.work {
    grid-column: 2;
    grid-row: 2;
}

.clickableContainer * {
    cursor: pointer;
}

.work * {
    display: inline-block;
}

.about {
    grid-column: -3;
    grid-row: 2;

    justify-self: right;
}

.about * {
    display: inline-block;
}

.clickableContainer {
    z-index: 999;
}

.overlayContainer {
    width: 100vw;
    height: 100vh;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    position: absolute;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titleContainer h1 {
    font-size: 12rem;   
    font-family: serif;

    transition-timing-function: cubic-bezier(.07,.38,.31,.97);
}

.wordContainer {
    display: flex;
    justify-content: center;
    z-index: 100;

    transition: opacity 0.35s ease-in-out;
}

.wordContainer.stroke {
    color: rgba(0,0,0,0);
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;

    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.wordContainer.hover {
    opacity: 0;

    transition: opacity 0.35s ease-in-out;
}

.wordContainer.stroke.hover {
    opacity: 1;

    transition: opacity 0.35s ease-in-out;
}

.numberContainer {
    grid-column: 5;
    grid-row: 4;
    
    display: flex;
    justify-content: space-between;
}

.indexContainer {
    text-overflow: clip;
    overflow: clip;
}

.indices {
    height: 100%;
}

.indices p {
    height: 100%;
}

.indexSpace {
    height: 50%;
}

.aboutPageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 200;
}

.aboutPage {
    max-height: calc(100vh - 16vh - 2rem);

    grid-column: 4;
    grid-row: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.aboutPageContent {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.aboutPageContent * {
    font-weight: 100;
}

.aboutPageContent a {
    display: block;
    margin-left: 1rem;
    color: #ffffff;
}

.aboutPageContent .icon {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
}

.aboutPageContent small {
    display: block;
}

.aboutPageContent .icon:hover {
    text-decoration: underline;
}

.runner {
    position: relative;
    grid-column: 4;
    grid-row: 4;

    width: 100%;

    border-bottom: solid 1px rgba(255, 255, 255, 0.3);

    transition: width 1s cubic-bezier(.6,.07,.33,.87);
    
}

.runnerLine {
    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 100%;

    border-bottom: solid 1px #f2f2f2;

    transition: width 1s cubic-bezier(.6,.07,.33,.87);
}

.articleDetailContainer {
    z-index: 200;
}

.articleDetailFrontLayer {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 100vh;
}

.articleDetailFrontLayer .titleContainer {
    position: absolute;
    left: 0;
    bottom: 0;

    height: min-content;
}

.articleDetailFrontLayer .wordContainer {
    opacity: 1;
}

.articleDetailFrontLayer .toSiteContainer {
    position: absolute;
    right: 5vw;
    bottom: 8vh;
}

.articleDetailFrontLayer .toSite a {
    text-decoration: none;
    color: inherit;
}

.articleDetailFrontLayer .toSiteContainer .lineContainer {
    margin-top: 0.25rem;
    width: 50%;

    margin-left: auto;
}

.articleDetailFrontLayer .toSiteContainer .lineContainer .line {
    border-color: #000;
    transition-duration: 0.25s;
}

.articleDetailFrontLayer .toSiteContainer .lineContainer .line.remove {
    transform: translate3d(-100%, 0, 0);
}

.hover {
    cursor: pointer;
}

.clippingImageContainer {
    transform: translate3d(-110%, 0, 0);
    transition: all 1s ease-in-out;

    opacity: 0 !important;
    width: 100%;
}

.clippingVideoContainer {
    transform: translate3d(-110%, 0, 0);
    transition: all 1s ease-in-out;

    opacity: 0 !important;
    width: 100%;
}

.clippedVideoFilter {
    width: 100%;
}

.image-half {
    position: relative;
    overflow: hidden;
    align-self: center;
    height: 80%;
    width: 50%;
}

.image-half .clippingImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 10rem - 20vw);
    height: 100%;
    background-color: #f2f2f2;
    align-self: center;
    transform: translate3d(-110%, 0, 0);
    transition: all 1s ease-in-out;
}

.image-half .clippingImageContainer img {
    width: 100%;
    margin: auto;
    position: fixed;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    margin: auto;
}

.image-block {
    position: relative;
    overflow: hidden;
    align-self: center;
    /* height: 10rem; */
    width: 10rem;
}

.image-block .clippingImageContainer {
    width: 100%;
    /* height: 100%; */
}

.image-block .clippingImageContainer img {
    width: 100%;
}

.imageFilter {
    opacity: 0 !important;
}

.imageFilterCanvas {
    position: absolute;
    top: 0;
    bottom: 0;

    z-index: 0;
}

@media screen and (min-width: 860px) and (max-width: 1200px) {
    .titleContainer h1 { 
        font-size: 10rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 859px) {
    .titleContainer h1 { 
        font-size: 7rem;
    }

    .hide_mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .titleContainer h1 { 
        font-size: 5rem;
    }

    .container {
        grid-template-columns: 5vw 2rem 5vw 1fr 5vw 2rem 5vw;
        grid-template-rows: 3vh 1rem 1fr 1rem 3vh;
    }
    
    .hide_mobile {
        display: none;
    }
}