* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none; 
    user-drag: none; 

    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;

    overscroll-behavior-x: none;
}

a {
    color: #E69685;
    text-decoration: none;
}

a:hover {
    color: #B6DFC6;
    text-decoration: underline;
    cursor: pointer;

    transition: color 0.1s linear;
}

.container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container.move canvas.pixi {
    animation: titleAnimation 0.5s cubic-bezier(0.9, 0, 0.1, 1) 1.5s forwards;
}

.container canvas {
    position: absolute;
    width: 100%;
    height: 60%;
}

@keyframes titleAnimation {
    0% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 400px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0;

        width: 20%;
        height: 80px;
        transform: none;
    }
}

.knobContainer {
    position: absolute;
    bottom: 0;

    padding: 5% 25% 12px 25%;

    z-index: 100;

    animation: knobEnter 0.5s ease 1s backwards normal;
}

.knob {
    background-color: rgba(0, 0, 0, 0.3);
    width: 24px;
    height: 8px;
    border-radius: 4px;
}

@keyframes knobEnter {
    0% {
        transform: translate(0, 400%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.knobCursor {
    position:absolute;
    bottom: 0;

    background-image: url(../assets/cursor.png);
    background-repeat: no-repeat;
    background-size: 18px 54px;

    width: 18px;
    height: 18px;

    animation: knobCursorTranslationAnimation 1.5s ease-in-out both, knobCursorImageAnimation 1.5s step-end both;
    animation-play-state: paused;
}

@keyframes knobCursorTranslationAnimation {
    0% {
        transform: translate(50px ,-50px);
        opacity: 0;
    }
    40% {
        transform: translate(0,0);
        opacity: 1;
    }
    50% {
        transform: translate(0,0);
    }
    90% {
        opacity: 1;
        transform: translate(0, -100px);
    }
    100% {
        opacity: 0;
        transform: translate(0, -100px);
    }

}
@keyframes knobCursorImageAnimation {
    0% {
        background-position: 0 -36px;
    }
    40% {
        background-position: 0 -18px;
    }
    50% {
        background-position: 0 0;
    }
}

.navigationContainer .navigationBar:nth-last-child(1) {
    background-color: #E69685;

    animation: navigatorBarIntro 0.25s ease 2s both;
}

.navigationContainer .navigationBar:nth-last-child(2) {
    background-color: #11335C;

    animation: navigatorBarIntro 0.25s ease 2.1s both;

}

.navigationContainer .navigationBar:nth-last-child(3) {
    background-color: #B6DFC6;

    animation: navigatorBarIntro 0.25s ease 2.2s both;
}

.navigationContainer .navigationBar:nth-last-child(4) {
    background-color: #F2DAD0;
    
    animation: navigatorBarIntro 0.25s ease 2.3s both;
}

@keyframes navigatorBarIntro {
    0% {
        top: -48px;
    }
    100% {
        top: 0px;
    }
}

.navigationContainer {
    display: grid;
    column-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    position: absolute;
    top: -12px;
    right: 0;
    z-index: 100;

    padding: 0 48px 24px 48px;
    
    transition: transform 0.5s ease, right 0.5s ease;
}

.navigationContainer:hover {
    transition: transform 0.5s ease;
}

.navigationBar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    height: 58px;
    width: 8px;

    border-radius: 4px;

    transition: transform 0.5s ease;
}

.navigationBar.selected .navigationText {
    opacity: 1;

    transition: opacity 0.5s ease 0.5s;
}

.navigationText {
    opacity: 0;

    font-size: 11px;
    color: rgba(0, 0, 0, 0.3);

    position: absolute;
    bottom: 0;

    transition: opacity 100ms ease;
}

.navigationText.right {
    left: 11px;
}

.navigationText.left {
    right: 11px;
}


.carousel {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap
}

.carousel canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
}

.carousel .imageContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    z-index: 20;
}

.carousel .imageContainer.none {
    display: none;

    z-index: 0;
}

.carousel .imageContainer img {
    max-width: 100%;
    max-height: 80%;
    margin: 20px;
    opacity: 0;

    object-fit: scale-down;
}

.carousel .button {
    height: 30%;

    z-index: 50;
    
    display: flex;
    align-items: center;
    transition: transform 200ms;
}

.carousel .button:hover {
    cursor: pointer;

    transform: translateY(-4px);
    transition: transform 200ms;
}

.carousel .button.left {
    justify-items: flex-start;
    width: 3%;
    padding-left: 3%;
    padding-right: 3%;
    order: -1;
}

.carousel .button.left.opening {
    animation: leftButtonEnter 0.5s ease 2s backwards normal;
}

@keyframes leftButtonEnter {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.carousel .button.left#clicked {
    animation: leftButtonClickAnimation 100ms;
} 

@keyframes leftButtonClickAnimation {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0);
    }
}

.carousel .button.right {
    justify-items: flex-end;
    width: 3%;
    padding-right: 3%;
    padding-left: 3%;
    order: 99;
}

.carousel .button.right.opening {
    animation: rightButtonEnter 0.5s ease 2s backwards normal;
}

@keyframes rightButtonEnter {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.carousel .button.right#clicked {
    animation: rightButtonClickAnimation 100ms;
} 

@keyframes rightButtonClickAnimation {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0);
    }
}

.carousel .button.left .iconbottom {
    position: absolute;

    width: 24px;
    height: 8px;

    background-color: #E69685;

    border-radius: 4px;
    transform: translateY(6px) rotateZ(45deg);
}

.carousel .button.left .icontop {
    position: absolute;

    width: 24px;
    height: 8px;
    
    background-color: #B6DFC6;
    
    border-radius: 4px;
    transform: translateY(-5.5px) rotateZ(-45deg);
}

.carousel .button.right .iconbottom {
    position: absolute;

    width: 24px;
    height: 8px;

    background-color: #11335C;

    border-radius: 4px;
    transform: translateY(6px) rotateZ(-45deg);

}

.carousel .button.right .icontop {
    position: absolute;

    width: 24px;
    height: 8px;

    background-color: #E69685;
    
    border-radius: 4px;
    transform: translateY(-5.5px) rotateZ(45deg);
}

.carousel .button.no_content {
    filter: grayscale(100%);
}

.carousel .button.no_content:hover {
    cursor: default;
    transform: none;
    transition: none;
}

.carousel .page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.carousel .page.none {
    display: none;
}

.carousel .textContainer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 24px;

    z-index: 20;
    animation: textInit 1s linear 0.5s both;
}

.carousel .textContainer.opening {
    animation: textInit 1s linear 2s both;
}

.carousel .textContainer.closingRight {
    transform: translateX(200%); 

    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.carousel .textContainer.closingLeft {
    transform: translateX(-200%); 

    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}


@keyframes textInit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carousel .textContainer h1 {
    font-weight: 100;
    font-size: 24px;
    font-family: 'Hind';

    margin-inline-end: 20px;
}

.carousel .textContainer p {
    font-weight: 100;
    font-size: 12px;
    font-family: serif;
}

.carousel .textContainer .spacing {
    padding: 20px;
}

.threeButtonContainer {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 90%;
    padding-left: 5%;
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.threeButtonContainer canvas {
    position: static;
    display: inline;
}

.threeButtonContainer canvas:hover {
    cursor: pointer;
}

.threeContainer {
    display: flex;
}

.threeButtonContainer a {
    margin: auto;
    padding-left: 6px;
    animation: threeButtonOpacity 0.4s ease-in 3s both;
}

.threeButtonContainer .insta.button {
    animation: threeButton 0.4s cubic-bezier(.08,.8,.44,.85) 1s both;
    animation-play-state: paused;
}

.threeButtonContainer .github.button {
    animation: threeButton 0.4s cubic-bezier(.08,.8,.44,.85) 1.25s both;
    animation-play-state: paused;
}

.threeButtonContainer .email.button {
    animation: threeButton 0.4s cubic-bezier(.08,.8,.44,.85) 1.5s both;
    animation-play-state: paused;
}

.threeButtonContainer .button.start {
    animation-play-state: running;
}

@keyframes threeButton {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotateZ(-180deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotateZ(0);
    }
}

@keyframes threeButtonOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    height: 90%;
    padding-right: 5%;

    animation: about 0.4s cubic-bezier(.08,.8,.44,.85) 2.25s both;
}

@keyframes about {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about * {    
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.about *::-moz-selection {
    color: #ffffff;
    background: #11335C;
}
  
.about *::selection {
    color: #ffffff;
    background: #11335C;
}

.about h1 {
    font-weight: 100;
    font-size: 24px;
    font-family: 'Hind';
}

.about h2 {
    font-weight: 100;
    font-size: 18px;
    font-family: 'Hind';

}

.about .green {
    color: #B6DFC6;
}

.about .green::selection {
    background-color: #B6DFC6;
    color: white;
}

.about .orange { 
    color: #E69685;
}

.about .orange::selection {
    background-color: #E69685;
    color: white;
}

.about .pink { 
    color: #F2DAD0;
}

.about .pink::selection {
    background-color: #F2DAD0;
    color: white;
}

.about .blue { 
    color: #11335C;
}

.about .blue::selection {
    background-color: #11335C;
    color: white;
}

.about .red { 
    color: #F65D5D;
}

.about .red::selection {
    background-color: #F65D5D;
    color: white;
}
