@import 'tailwindcss';

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@theme {
  --font-display: var(--font-playfair-display);
  --font-body: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);

  --color-background: hsl(135 10% 80%);
  --color-foreground: hsl(135 10% 5%);
  --color-error: hsl(0 60% 65%);
  --color-error-foreground: hsl(135 10% 5%);
  --color-sucess: hsl(115 60% 65%);
  --color-sucess-foreground: hsl(135 10% 5%);
  --color-warning: hsl(45 60% 65%);
  --color-warning-foreground: hsl(135 10% 5%);
  --color-highlight: hsl(90 60% 65%);
  --color-highlight-foreground: hsl(135 10% 5%);

  --color-test: hsl(0 100% 65%);
}

@layer base {
  .dark {
    --color-background: hsl(135 10% 5%);
    --color-foreground: hsl(135 10% 80%);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: hsl(135 10% 5%);
      --color-foreground: hsl(135 10% 80%);
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-body;
  }

  * {
    @apply cursor-none;
  }
}
